.report-card {
  background-color: #ffffff;
  border: 1px solid chartreuse;
  border-radius: 12px;
  padding: 18px;
  margin: 15px auto;
  max-width: 400px;
  color: white;
  box-shadow: 0 0 8px chartreuse;
  transition: transform 0.3s ease;
  margin: 15px;
  text-align: left;
  width: 260px;
}

.report-card:hover {
  transform: scale(1.02);
}

