.admin-navbar {
  background-color: #1f2937;
  /* Tailwind gray-800 */
  color: white;
  padding: 0.75rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: none;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #60a5fa;
  /* Tailwind blue-400 */
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    justify-content: flex-start;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1f2937;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }

  button {
    width: 20%;
  }
}