.form-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
  background-color: #e6fff2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.form-container h2 {
  text-align: center;
  color: #228b22;
  margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form-container textarea {
  resize: vertical;
  min-height: 80px;
}

.form-container button {
  width: 60%;
  padding: 12px;
  background-color: #228b22;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: chartreuse;
}


