*{
  box-sizing: border-box;
}
body {
  background-image: url("/bodylost22.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 80px;
  position: relative;
  margin: 0;
  padding: 0;

}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
