@import "tailwindcss";
:root {
  --primary-color: rgb(77, 228, 77);
}
body {
  margin: 0;

  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: white;
}
.page h1,
.page h2,
.page h3 {
  color: black;
  font-size: 3rem;
  padding: 20px;
}
.page {
  padding: 40px;
  text-align: center;
}
input,
textarea {
  display: block;
  width: 300px;
  max-width: 400px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
input {
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #228b22;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.input {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 450px;
  max-height: 700px;

  margin: 1px auto;
  background-color: #e6fff2;
  border-radius: 10px;
}

button:hover {
  background-color: chartreuse;
}
@media (max-width: 900px) {
  .page {
    padding: 30px;
  }

  .page h1,
  .page h2,
  .page h3 {
    font-size: 2.5rem;
    padding: 15px;
  }

  input,
  textarea {
    width: 90%;
    font-size: 1rem;
  }

  .input {
    width: 90%;
    padding: 15px;
  }

  button {
    width: 60%;
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 20px;
  }

  .page h1,
  .page h2,
  .page h3 {
    font-size: 2rem;
    padding: 10px;
  }

  input,
  textarea {
    width: 100%;
    font-size: 0.9rem;
  }

  .input {
    width: 100%;
    padding: 12px;
    margin: 10px auto;
  }

  button {
    width: 30%;
    padding: 10px;
    font-size: 0.9rem;
  }
}
